@import "./../../assets/variable";

.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  @media (max-width: 26.56em) {
    padding: 0;
    padding-top: 4rem;
  }

  .signup__title {
    display: none;
  }
  .form__text {
    margin-top: -2rem;
    margin-bottom: 1rem;
    color: $font-mid;
  }

  .direct__signIn_box {
    display: inherit;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 2rem;
    max-width: 100%;

    @media (max-width: 26.56em) {
      flex-direction: column;
    }

    .direct__signin_btn {
      border: none;
      font-size: inherit;
      display: inherit;
      gap: 1rem;
      align-items: center;
      background-color: $white;
      padding: 0.6rem 2rem;
      border-radius: 0.6rem;
      color: $font-mid;
      cursor: pointer;
      transition: color 0.3s, transform 0.3s;

      @media (max-width: 76.25em) {
        flex-direction: row-reverse;
      }

      @media (max-width: 26.56em) {
        flex-direction: row;
      }

      &:hover {
        color: $font-dark;
        transform: translateY(-1px) scale(1.03);
      }

      & .icon__text span {
        @media (max-width: 76.25em) {
          display: none;
        }

        @media (max-width: 26.56em) {
          display: initial;
        }
      }
    }
  }

  .signin__form {
    background-color: $white;
    padding: 4rem 2rem;
    border-radius: 1rem;
    width: fit-content;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .forget__password {
      margin-left: 2rem;
    }

    & > .sign__up_btn {
      display: none;
    }
    & > .input__name {
      display: none;
    }
  }
  .registration__link {
    margin-bottom: 1.6rem;
  }

  .form__link {
    text-decoration: none;
    color: $bg-blue;
    cursor: pointer;
  }

  .registration__link {
    text-align: center;

    &_signin {
      display: none;
    }
  }

  #abstract__form_details {
    display: none;

    &:checked ~ * .input__name {
      display: flex;
    }

    &:checked ~ .direct__signIn_box {
      display: none;
    }

    &:checked ~ * .sign__up_btn {
      display: inline-block;
    }

    &:checked ~ * .sign__in_btn {
      display: none;
    }

    &:checked ~ .signin__title,
    &:checked ~ .form__text {
      display: none;
    }

    &:checked ~ .signup__title {
      display: inline-block;
    }

    &:checked ~ .registration__link_signin {
      display: inline-block;
    }
    &:checked ~ .registration__link_signup {
      display: none;
    }
  }
}
