@import "./../../assets/variable";

.authentication {
  display: flex;
  margin: 1.5rem;
  min-height: 96vh;
  background-image: linear-gradient(100deg, $bg-blue 50%, $bg-white 50%);
  position: relative;

  @media (max-width: 64em) {
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: $bg-blue;
  }

  @media (max-width: 26.56em) {
    margin: 0;
    min-height: 100vh;
  }
}
