.side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;

  @media (max-width: 52.5em) {
    gap: 2rem;
  }

  .logo {
    align-self: flex-start;
    width: 15rem;
    margin-top: 1rem;
    @media (max-width: 26.57em) {
      max-width: 10rem;
    }
    &__img {
      width: 100%;
    }
  }

  .social__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media (max-width: 52.5em) {
      align-self: flex-end;
    }

    &_icon {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: opacity 0.3s, scale 0.3s;
      &:hover {
        opacity: 0.7;
        scale: 1.08;
      }
    }
  }
}
