@import "./../../assets/variable";

.input__box {
  display: flex;
  flex-direction: column;
  width: 40rem;
  gap: 1rem;

  @media (max-width: 76.25em) {
    width: 30rem;
  }

  @media (max-width: 19.37em) {
    width: 25rem;
  }

  .input {
    font-size: 1.6rem;
    padding: 0.4rem 0.6rem;
    font-family: inherit;
    border: none;
    background-color: $bg-input;
    margin-left: 1rem;
    border-radius: 0.6rem;

    &:focus {
      outline: none;
    }
  }
}
