@import "./../../assets/variable";

.dashboard__activities {
  background-color: $white;
  max-height: min-content;
  // overflow: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
}
