//? variables that will be use in site
$font-light: #dee2e6;
$font-mid: #868e96;
$font-dark: #212529;

$bg-white: #f8faff;
$bg-blue: #286de0;
$white: #fff;

$font: "Montserrat";
$font-2: "Lato";

$bg-input: #e9ecef;
